@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --textColor: black;
    --backgroundColor: #ffffff;
    --highlightColor: #425c5a;
    --cardColor: #f5f5f5;
    --cardColorHover: #d1d1d1;
}

html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

body{

    background-color: var(--backgroundColor);
    color: var(--textColor);

}

.hamburger{
    display: none;
    cursor: pointer;
}

.bar1, .bar2, .bar3{
    width: 30px;
    height: 5px;
    background-color: black;
    font-weight: bold;
    margin: 5px 0;
    transition: 0.5s;
}

.bar1.cross  {
    transform: translate(0, 10px) rotate(-45deg);
}
.bar2.cross {
    opacity: 0;
}

.bar3.cross  {
  transform: translate(0, -10px) rotate(45deg);
}

#header{
    height: 100vh;
    width: 100%;
}

.background-image{
    height: 785px;
    width:700px;
    max-width: 50%;
    float: right;
    overflow: hidden; 
}

.background-image img{
    transform: rotateY(180deg);
    height: auto;
    max-width: 80%;
    float: right;  
}

.container{
    padding: 10px 5%;
}   

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 15px;
}

nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: var(--textColor);
    position: relative;
}


nav ul li a::after{
    content: '';
    width: 0%; 
    height: 2px;
    background: var(--highlightColor);
    position: absolute;
    bottom: -3px;
    left: 0; 
    transition: 0.4s;
}

nav ul li a:hover::after{
    width: 100%;
}

.description-text{
    margin-top: 10%;
    font-size: 40px;
}

.description-text h1{
    margin-top: 10px;
}

.logo{
    height: 150px;
    width: 200px;
}

/* THE ABOUT SECTION */
#about{
    padding: 50px 0px;
    color: var(--textColor);
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.left-part{
    width: 40%;
}

.left-part img{
    width: 100%;
    border-radius: 2%;
}

.right-part{
    width: 55%;
    text-align: justify;
}

.about-myself{
    font-size: 50px;
    font-weight: bolder;
}

.about-info{
    display: flex;
    margin: 20px 0px;
    align-items: center;
    text-align: center;
}

.info{
    margin: 0 40px 0 0;
    font-weight: bolder;
    font-size: 15px;
    position: relative;
    
}

.info::after{
    content: '';
    width: 0%; 
    height: 2px;
    background: var(--highlightColor);
    position: absolute;
    bottom: -10px;
    left: 0; 
    transition: 0.4s;
}

.info:hover::after{
    width: 100%;
}

.info.is-active-info::after{
    width: 50%;
}

.info-content li{
    list-style: none;
    margin: 20px 0px 0px 0px;
    color: var(--highlightColor);
    font-weight: bolder;
    font-size: 0.9em;
}

.info-content span{
    font-weight: bold;
}

.info-content-skills li:first-child{ 
    color: var(--highlightColor);
    font-size: 0.9em;
    font-weight: bolder;
    list-style: none;
    margin: 20px 0px 0px 0px;
}

.info-content-skills li{
    list-style: none;
    margin: 5px 0px 0px 0px;
    font-weight: bold;
}

.info-content, .info-content-skills{
    display: none;
}

.info-content.is-active-content, .info-content-skills.is-active-content{
    display: block;
}

/* NEW SECTION STYLING PROJECTS */

#project{
    padding: 25px 0;
}

.projects-title{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 30px;
}

.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
    gap: 2em;
}

.card{
    background: var(--cardColor);
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    gap: 1%;
    transition: background-color 0.4s, transform 0.4s;
}

.card img{
    width: 100%;
    height: 65%;
    margin-bottom: 5%;
}

.card a{
    text-decoration: none;
    display: inline-block;
    color: var(--textColor);
    font-size: 13px;
    margin-top: 10px;
}

.card-text{
    margin-left: 3%;
}

.card:hover{
    background-color: var(--cardColorHover);
    transform: scale(105%);
}

.card a:hover{
    text-decoration: underline;
}

/* NEW SECTION */

.contact-title{
    font-size: 50px;
    font-weight: bolder;
    margin-bottom: 10px;
    width: 100%;
}

.contact-me{
    width: 40%;
}

.contact-me p{
    margin-top: 20px;
    margin-bottom: 15px;
}

.contact-form{
    width: 50%;
}

.contact-me i{
    font-size: 20px;
    margin-right: 7px;
}

.socials i{
    margin-top: 5px;
    transition: color 0.3s, transform 0.3s;
    font-size: 30px;
}

.socials a{
    text-decoration: none;
    color: var(--textColor);
    margin-right: 15px ;
}

.socials i:hover{
    color: #425c5a;
    transform: scale(150%);
}

.btn{
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--highlightColor);
    width: fit-content;
    cursor: pointer;
    padding:10px 40px;
    font-size: 15px;
    font-weight: bolder;
    transition: background-color 0.5s, border 0.5s, color 0.5s;
}

.btn:hover{
    background-color: var(--highlightColor);
    border: 2px solid #a2bfbd;
    color: var(--backgroundColor);
}

form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
}

form input, form textarea{
    outline: 0;
    background-color: #a2bfbd;
    padding: 1em;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    font-weight: bold;
    color: white
}

@media only screen and (max-width: 1200px){
    .description-text{
        font-size: 30px;
    }
    
    .description-text h1{
        margin-top: 10px;
    }
}

@media only screen and (max-width: 992px){
    .description-text{
        font-size: 25px;
    }
}

@media only screen and (max-width: 790px){
    .description-text{
        font-size: 25px;
    }
    .left-part, .right-part{
        width: 100%;
    }
     
    .about-myself{
        margin-top: 30px;
    }
}

@media only screen and (max-width: 650px){
    .background-image{
        max-width: 60%; 
        position: absolute;
        max-height: 50%;
        right: 20px;
        bottom: -10px;
        overflow: hidden;
    }

    .description-text{
        margin-top: 60%;
        font-size: 20px;
    }
    
    .description-text h1{
        font-size: 30px;
    }


    nav ul{
        background: var(--highlightColor);
        position: fixed;
        top: 0;
        width: 150px;
        right: -150px;
        height: 100vh;
        padding-top:90px;
        z-index: 1;
        transition: right 0.6s;
    }

    nav ul li{
        display: block;
        font-size: 20px;
        margin-top: 40px;
        margin: 1.5em;
    }

    nav ul li a{
        color: white;
        font-weight: bold;
    }

    .logo{
        height: 150px;
        width: 200px;
        margin-top: 0px;
        overflow: hidden;
    }

    .hamburger{
        position:absolute;
        display: inline-block;
        top: 65px;
        right: 90px;
        z-index: 2;
    }

    .about-myself{
        font-size: 35px;
        margin: 10px 0px
    }

    .left-part{
        width: 100%;
    }
    .right-part{
        width: 100%;
        text-align: justify;
        font-size: 15px;
    }

    .about-info{
        align-items: center;
        justify-content: space-between;
    }
    .about-info p{
        font-size: 15px;
    }
    
    .contact-me{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contact-title{
        text-align: center;
        font-size: 40px;
    }

    .contact-form{
        margin-top: 20px;
        width: 100%;
    }

    .socials{
        display: flex;
        align-items: center;
        justify-content: center;
        gap:20px
    }

    .socials a{
        text-align: center;
        margin-right: 0px;
    }


    .btn{
        width: 100%;
    }


    

}
@media only screen and (max-width: 586px){
    .background-image{
        max-width: 0%; 
    }
}